@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$font: 'satoshi';
@font-face {
  font-family: $font;
  src:
    url('../fonts/#{$font}.woff2') format('woff2'),
    url('../fonts/#{$font}.woff') format('woff'),
    url('../fonts/#{$font}.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: normal;
}

$fontItalic: 'satoshi-italic';
@font-face {
  font-family: $fontItalic;
  src:
    url('../fonts/#{$fontItalic}.woff2') format('woff2'),
    url('../fonts/#{$fontItalic}.woff') format('woff'),
    url('../fonts/#{$fontItalic}.ttf') format('truetype');
  font-weight: 300 900;
  font-display: swap;
  font-style: italic;
}

.flx-center {
  @apply flex items-center justify-center;
}

.absolute-center {
  @apply absolute inset-0;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

html {
  &::-webkit-scrollbar {
    width: 3px;
  }
  &::-webkit-scrollbar-thumb {
    @apply bg-primary/20;
  }
}

#__nuxt {
  @apply container;
}

*::selection {
  @apply bg-primary/20 text-white/80;
}

h1 {
  @apply text-center text-4xl font-black;
}

button,
img {
  @apply select-none;
}
